@font-face {
  font-family: "El Messiri";
  src: url('../public/static/fonts/ElMessiri-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url('../public/static/fonts/ElMessiri-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url('../public/static/fonts/ElMessiri-Medium.ttf');
  font-weight: normal;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'El Messiri', sans-serif;
  font-weight: normal;
  font-style: normal;
}


